fastapi
uvicorn[standard]
httpx
requests
python-dotenv
pandas
pyarrow
google-api-python-client
youtube-transcript-api
sqlmodel
faiss-cpu
sentence-transformers
scikit-learn
numpy
pytest
httpx
pydantic-settings
pymongo
lightfm