# ---- FORCE CPU TORCH (NO CUDA) ----
--extra-index-url https://download.pytorch.org/whl/cpu
torch==2.2.2+cpu

# ---- API ----
fastapi
uvicorn[standard]
httpx
requests
python-dotenv
pydantic-settings

# ---- DATA ----
pyarrow
sqlmodel
pymongo

# ---- ML / RECOMMENDER ----
sentence-transformers

# ---- EXTERNAL ----
google-api-python-client
youtube-transcript-api

# ---- TESTING ----
pytest
